services:
  backend:
    container_name: todo-go
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 9090:9090
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: 123456
      DB_NAME: mydb
      DB_PORT: 5432
    restart: on-failure

  postgres:
    image: postgres:14.1-alpine
    restart: always
    container_name: pgdb
    volumes:
      - pgdata:/var/lib/postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
    command: -p 5432

volumes:
  pgdata:
